<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Alfa plus KROS - výkaz z CSV faktúry</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-44071587-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-44071587-2');
  </script>

  <link rel="stylesheet" href="static/basic.css">
  <script src="static/dropzone.js"></script>
  <link rel="stylesheet" href="static/dropzone.css">

<style>
</style>

</head>
<body>

<section class="container">
  <header>
    <h1>Alfa plus KROS - výkaz z CSV faktúry</h1>
  </header>

  <section class="uploader">
    <form action="/convert" class="dropzone" id="upload"></form>

    <button onclick="javascript:window.print(); return false" id="print">Vytlačiť</button>
  </section>

  <section id="result">
  </section>

  <footer>
    <hr />
    <div>Created by <a href="https://github.com/petee-d/kros-converter">Petee</a>, using
      <a href="https://www.openshift.com/">OpenShift</a>,
      <a href="https://www.djangoproject.com/">Django</a> and
      <a href="http://www.dropzonejs.com/">DropZone</a></div>
  </footer>
</section>

<script>
  Dropzone.options.upload = {
    maxFilesize: 1, // MB
    dictDefaultMessage: 'Nahraj CSV export pretiahnutím sem alebo kliknutím',

    init: function() {
      var uploader = this;
      uploader.on('success', function(file, response) {
        console.log(response);
        document.getElementById('result').innerHTML = file.xhr.response;
        document.getElementById('print').className = 'print-show';
        setTimeout(function() {
          uploader.removeAllFiles();
        }, 1000)
      });
    },

    accept: function(file, done) {
      if (file.name.match(/.csv$/)) done();
      else done("File must be a CSV export from Kros!");
    },
  };
</script>

</body>
</html>
